# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BruidenSite.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tjerk Venema\RiderProjects\BruidenSite\.idea\.idea.BruidenSite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
