@page
@model BruidenSite.Pages.InlogSysteem.AddLocation

@{
}

<!DOCTYPE html>

<header>
    <link rel="stylesheet" href="~/css/Overview.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>

<body class="background-website">
<div class="centerRectangle1">
    <h1>Voer hier uw trouwlocatie in</h1>
    <form method="post">
        <input type="text" asp-for="LocUser.TrouwLocatie" required><br>
        <a href="/InlogSysteem/AddWeddingDate" class="btn btn-primary" type="button">Terug</a>
        <button asp-page-handler="Location" class="btn btn-primary" type="submit">Bevestig</button>
    </form>
    
</div>
</body>