@page
@model BruidenSite.Pages.InlogSysteem.AddWeddingDate

@{
}

<!DOCTYPE html>

<header>
    <link rel="stylesheet" href="~/css/Overview.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>

<body class="background-website">
<div class="centerRectangle1">
    <h1>Voer hier uw trouwdatum in</h1>
    <form method="post">
        <input type="date" asp-for="DateUser.TrouwDatum" required><br>
        <a href="/InlogSysteem/Overview" class="btn btn-primary" type="button">Terug</a>
        <button asp-page-handler="Date" class="btn btn-primary" type="submit">Bevestig</button>
    </form>
</div>
</body>