@page
@model BruidenSite.Pages.InlogSysteem.Confirm

@{
    ViewData["Trouwlocatie"] = Request.Cookies["Location"];
    ViewData["Trouwdatum"] = Request.Cookies["Date"];
}

<!DOCTYPE html>

<header>
    <link rel="stylesheet" href="~/css/Overview.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>

<body class="background-website">
<div class="centerRectangle1">
    <form method="post" asp-page-handler="Confirm">
        <h1>Kloppen de gegevens?</h1>
        <h3>Datum: @ViewData["Trouwdatum"]</h3>
        <h3>Locatie: @ViewData["Trouwlocatie"]</h3>
        <a href="/InlogSysteem/AddLocation" class="btn btn-primary" type="button">Terug</a>
        <button asp-page-handler="Confirm" class="btn btn-primary" type="submit">Bevestig</button>
    </form>
</div>
</body>