@page
@model BruidenSite.Pages.InlogSysteem.Logout

@{
}

<!DOCTYPE html>

<header>
    <link rel="stylesheet" href="~/css/Login.css"/>
</header>

<body class="background-website">
<div class="centerRectangle">
    <h2>U bent succesvol uitgelogd</h2> <br>
    <a href="/Index" class="btn btn-primary">Home</a>
</div>
</body>