@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
    <title></title>
</head>

<body class="background-website">  
    <div class="logo">
         <h1>Weddingplanner</h1>  
         <h1>"a Special Day"</h1>
    </div>
    <div class="centerRectangle">
        <p>De website waar een bruidspaar een wensenlijst kan samenstellen en deze delen met hun familie en vrienden</p>
        <a href="InlogSysteem/Login" class="btn btn-primary">Login</a>
        <a href="InlogSysteem/Register" class="btn btn-primary">Registreer</a>
    </div>
</body>